.bubble-container {
  background-color: #fff;
  color: #131313;
  padding: 20px;
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    text-align: left;
  }
  &.bot {
    background-color: #e4f2fe;
    p {
      color: #17519c;
    }
  }
  .username {
    font-size: 12px;
    font-weight: 600;
    color: #a0a0a0;
    margin-bottom: 1px;
  }
  .response-text {
    color: #303030;
  }
}
