@use "shared.scss";

.bubble-container {
  background-color: shared.$plain-white;
  padding: 20px;
  margin: 15px 0;
  border-radius: shared.$main-border-radius;
  box-shadow: 0px 1px 0px 0px rgba(27, 31, 36, 0.04);
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    text-align: left;
    word-wrap: break-word;
  }
  &.bot {
    background-color: shared.$main-theme-bubble-bg-color-blue;
    p {
      color: shared.$main-theme-bubble-text-color-blue;
    }
  }
  &.text {
    width: 70%;
  }
  &.image {
    animation: zoomOut 150ms forwards;
    &.zoom {
      animation: zoomIn 150ms forwards;
    }
  }
  .username {
    font-size: 12px;
    font-weight: shared.$font-bold;
    color: #a0a0a0;
    margin-bottom: 1px;
  }
  .response-text {
    color: shared.$dark-on-light-text;
  }
  .response-image {
    width: 100%;
    border-radius: 5px;
  }
}

@keyframes zoomOut {
  0% {
    width: 70%;
  }
  100% {
    width: 25%;
  }
}

@keyframes zoomIn {
  0% {
    width: 25%;
  }
  100% {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .bubble-container {
    &.text {
      width: 80%;
    }
  }
  @keyframes zoomOut {
    0% {
      width: 80%;
    }
    100% {
      width: 25%;
    }
  }

  @keyframes zoomIn {
    0% {
      width: 25%;
    }
    100% {
      width: 80%;
    }
  }
}
