@use "shared.scss";

.main-container {
  height: 100%;
  align-items: center;

  .left {
    height: 100%;
    position: fixed;
    top: 0;
    animation: slideIn 300ms forwards;
    background-color: shared.$main-theme-menu-bg-color-blue;
    border-radius: shared.$main-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    color: shared.$main-theme-bubble-text-color-blue;
    z-index: 2;
    width: 300px;
  }

  .right {
    animation: centerIn 300ms forwards;
    height: 100%;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1200px) {
    .inactive {
      animation: slideOut 300ms forwards;
    }
    .active {
      animation: slideIn 300ms forwards;
    }
    .right {
      animation: centerOut 300ms forwards;
    }
  }
}

@keyframes slideOut {
  0% {
    left: 0px;
  }
  100% {
    left: -330px;
  }
}

@keyframes slideIn {
  0% {
    left: -330px;
  }
  100% {
    left: 0px;
  }
}

@keyframes centerOut {
  0% {
    margin-left: 25%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes centerIn {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 25%;
  }
}
