.dashboard-container {
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  audio {
    opacity: 0;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    width: 100%;
    margin: 0;
  }
}
