@use "shared.scss";

.dashboard-container {
  background-color: shared.$plain-white;
  border-radius: shared.$main-border-radius;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 90%;
  audio {
    opacity: 0;
    position: absolute;
  }
  .header-container,
  .input-container {
    flex: 0 0 6%;
  }
  .body-container {
    flex: 1 1 auto;
  }
}

@media (max-width: 768px) {
  .dashboard-container {
    width: 100%;
    margin: 0;
    height: 100%;
  }
}
