@use "shared.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .menu {
    color: #ffe;
    display: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    transition: transform 200ms ease-in-out;
    &.toggleArrow {
      transition: transform 200ms ease-in-out;
      transform: rotate(-180deg);
    }
  }
  .title {
    display: flex;
    align-items: center;
    gap: 15px;
    h2,
    .icon {
      font-size: shared.$header-font-size;
      color: shared.$dark-on-light-text;
      font-weight: shared.$font-bold;
    }
  }
  .media {
    padding: 12px;
    border-radius: 50px;

    .icon {
      cursor: pointer;
      color: shared.$dark-on-light-text;
      font-size: 17px;
    }

    &:active {
      background-color: shared.$chat-container-bg-color;
      transition: background-color 0ms;
      .icon {
        color: shared.$main-theme-bubble-text-color;
      }
    }

    &:not(:active) {
      transition: background-color 750ms;
      background-color: transparent;
    }
  }
}

@media (max-width: 1200px) {
  .header-container {
    .menu {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 3;
    }
  }
}

@media (max-width: 763px) {
  .header-container {
    .menu {
      display: block;
      position: relative;
      z-index: 3;
      top: 0;
      left: 0;
    }
  }
}
