.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  .title {
    display: flex;
    align-items: center;
    gap: 15px;
    h2 {
      font-size: 40px;
      color: #272727;
      font-weight: 600;
    }
    .icon {
      font-size: 30px;
      color: #272727;
    }
  }
  .media {
    padding: 12px;
    border-radius: 50px;

    .icon {
      cursor: pointer;
      color: #272727;
      font-size: 17px;
    }

    &:active {
      background-color: #dbe7ff;
      transition: background-color 0ms;
      .icon {
        color: #5378c1;
      }
    }

    &:not(:active) {
      transition: background-color 750ms;
      background-color: transparent;
    }
  }
}
