.input-container {
  padding: 10px 15px;
  display: flex;
  position: relative;
  .input-field {
    width: 100%;
    font-size: 14px;
    border: none;
    background-color: #f6f8fc;
    color: #303030;
    padding: 15px;
    border-radius: 25px;
    padding-left: 37px;
    &::placeholder {
      color: #ccc;
    }
  }
  .icon {
    position: absolute;
    left: 30px;
    top: 27px;
    color: #ccc;
  }
}
