@use "shared.scss";

.input-container {
  padding: 10px 15px;
  display: flex;
  position: relative;
  .input-field {
    width: 100%;
    font-size: shared.$prompt-font-size;
    border: none;
    background-color: shared.$chat-container-bg-color;
    color: shared.$light-on-dark-text;
    padding: 15px;
    border-radius: 25px;
    padding-left: 37px;
    &::placeholder {
      color: shared.$placeholder-text-color;
    }
    &:focus {
      outline: none;
    }
  }
  .icon {
    position: absolute;
    left: 30px;
    top: 27px;
    color: shared.$placeholder-text-color;
  }
}
