.hidden {
  display: none !important;
}

.dot-elastic {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #666666;
  animation: dot-elastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #666666;
  animation: dot-elastic-before 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #666666;
  animation: dot-elastic-after 1s infinite linear;
}

@keyframes dot-elastic-before {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.2);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.2);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dot-elastic-after {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.menu-container {
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  color: #272727;
}
.menu-container .menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #bbb;
}
.menu-container .menu-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #f6f8fc;
  width: 225px;
}
.menu-container .menu-body .input-field input {
  background-color: #e6eaf1;
  border: none;
  border-radius: 10px;
  color: #4a4a4a;
  padding: 10px;
}
.menu-container .menu-body .input-field input:focus {
  border: none;
  outline: none;
}
.menu-container .menu-body .input-field.password-input {
  position: relative;
}
.menu-container .menu-body .input-field.password-input svg {
  color: #303030;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu-container .menu-body .login-btns {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #000;
}
.menu-container .menu-body .login-btns button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-family: "Lexend", sans-serif;
  background-color: #d7d7d7;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 90%;
  height: 26px;
  display: flex;
  justify-content: center;
}
.menu-container .menu-body .login-btns span {
  font-size: 12px;
  color: #303030;
  cursor: pointer;
}
.menu-container .menu-body .login-btns .menu-error {
  font-size: 12px;
  color: #ff8989;
  word-wrap: break-word;
}
.menu-container .menu-body.account-settings button {
  border: none;
  cursor: pointer;
  border-radius: 38px;
  font-family: "Lexend", sans-serif;
  min-height: 33px;
  align-self: center;
  transition: 500ms;
  width: 80%;
}
.menu-container .menu-body.account-settings button.delete-convo {
  background-color: #ffface;
  color: #726d13;
}
.menu-container .menu-body.account-settings button.delete-convo:active {
  background-color: #f7eea2;
  color: #7c7717;
  transition: 200ms;
}
.menu-container .menu-body.account-settings button.delete-account {
  background-color: #ffcece;
  color: #cf6767;
}
.menu-container .menu-body.account-settings button.delete-account:active {
  background-color: #fba9a9;
  color: #e52929;
  transition: 200ms;
}
.menu-container .menu-body.account-settings button.user-logout {
  background-color: #e1e1e1;
  color: #878787;
}
.menu-container .menu-body.account-settings button.user-logout:active {
  background-color: #b5b5b5;
  color: #2e2e2e;
  transition: 200ms;
}/*# sourceMappingURL=menu.css.map */