@use "shared.scss";
@use "animations.scss";

.menu-container {
  border-radius: shared.$main-border-radius;
  background-color: shared.$plain-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  color: shared.$main-font-color;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-size: shared.$header-font-size;
    font-weight: shared.$font-bold;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #bbb;
  }
  .menu-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: shared.$main-border-radius;
    background-color: shared.$main-prompt-bg-color;
    width: 225px;
    .input-field {
      input {
        background-color: shared.$main-auth-input-bg-color;
        border: none;
        border-radius: 10px;
        color: shared.$main-input-fields-text-color;
        padding: 10px;
        &:focus {
          border: none;
          outline: none;
        }
      }
      &.password-input {
        position: relative;
        svg {
          color: shared.$main-prompt-text-color;
          position: absolute;
          right: 7%;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
    .login-btns {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      color: shared.$plain-black;
      button {
        cursor: pointer;
        border: none;
        border-radius: 6px;
        font-family: shared.$main-font-family;
        background-color: #d7d7d7;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 90%;
        height: 26px;
        display: flex;
        justify-content: center;
      }
      span {
        font-size: 12px;
        color: shared.$main-prompt-text-color;
        cursor: pointer;
      }
      .menu-error {
        font-size: 12px;
        color: shared.$error-code-color;
        word-wrap: break-word;
      }
    }
    &.account-settings {
      button {
        border: none;
        cursor: pointer;
        border-radius: 38px;
        font-family: shared.$main-font-family;
        min-height: 33px;
        align-self: center;
        transition: 500ms;
        width: 80%;
        &.delete-convo {
          background-color: shared.$warning-bg-color;
          color: shared.$warning-text-color;
        }
        &.delete-convo:active {
          background-color: shared.$warning-bg-color-active;
          color: shared.$warning-text-color-active;
          transition: 200ms;
        }
        &.delete-account {
          background-color: shared.$danger-bg-color;
          color: shared.$danger-text-color;
        }
        &.delete-account:active {
          background-color: shared.$danger-bg-color-active;
          color: shared.$danger-text-color-active;
          transition: 200ms;
        }
        &.user-logout {
          background-color: shared.$neutral-bg-color;
          color: shared.$neutral-text-color;
        }
        &.user-logout:active {
          background-color: shared.$neutral-bg-color-active;
          color: shared.$neutral-text-color-active;
          transition: 200ms;
        }
      }
    }
  }
}
