@use "./shared.scss";

.menu-container {
  border-radius: 15px;
  background-color: #fff;
  color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .menu-header {
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .sign-in-container {
      background-color: #e4f2fe;
      padding: 35px 20px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      input {
        background-color: #c6e7ff;
        border: none;
        border-radius: 50px;
        color: #464646;
        padding: 15px 20px;
        &:focus {
          border: none;
          outline: none;
        }
      }
      button {
        border: none;
        cursor: pointer;
        border-radius: 38px;
        font-family: "Lexend";
        padding: 12px;
        min-height: 40px;
        align-self: center;
        transition: 500ms;
        width: 80%;
        &.auth-btns {
          background-color: #c6e7ff;
          color: #17519c;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.auth-btns:active {
          background-color: #17519c;
          color: #fff;
          transition: 200ms;
        }
        &.delete-convo {
          background-color: #ffface;
          color: #726d13;
        }
        &.delete-convo:active {
          background-color: #f7eea2;
          color: #7c7717;
          transition: 200ms;
        }
        &.delete-account {
          background-color: #ffcece;
          color: #cf6767;
        }
        &.delete-account:active {
          background-color: #fba9a9;
          color: #e52929;
          transition: 200ms;
        }
        &.user-logout {
          background-color: #e1e1e1;
          color: #878787;
        }
        &.user-logout:active {
          background-color: #b5b5b5;
          color: #2e2e2e;
          transition: 200ms;
        }
      }
      span.info {
        align-self: center;
        font-size: 13px;
        cursor: pointer;
      }
      &.hidden {
        display: none;
      }
    }
    .user-btns-container {
      background-color: #f3f3f3;
    }
  }
  .menu-body {
    line-height: 1.2;
  }
}
