// User theme colors
// $main-theme-bubble-bg-color: #e4f2fe;
// $main-theme-bubble-text-color: #17519c;
// $main-theme-menu-bg-color: #f2f9ff;
// $main-theme-menu-footer-bg-color: #cbe4f9;
// $main-theme-light-text-color: #7c93c3;

// User theme colors
$main-theme-bubble-bg-color: #05220f;;
$main-theme-bubble-text-color: #0e8563;
$main-theme-menu-bg-color: #ebfff9;
$main-theme-menu-footer-bg-color: #c5ffed;
$main-theme-light-text-color: #63cfad;

// UI
$plain-black: #000;
$plain-white: #fff;
$placeholder-text-color: #adadad;
$dark-on-light-text: #5f5f5f;
$light-on-dark-text: #cecece;
$dashboard-bg-color: #f7f7f7;
$chat-container-bg-color: #1f1f20;
$chat-container-header-bg-color: #052019;
$loading_dot: #666666;
$main-border-radius: 15px;

// User settings colors
$error-code-color: #ff8989;
$warning-bg-color: #ffface;
$warning-text-color: #726d13;
$warning-bg-color-active: #f7eea2;
$warning-text-color-active: #7c7717;
$danger-bg-color: #ffcece;
$danger-text-color: #cf6767;
$danger-bg-color-active: #fba9a9;
$danger-text-color-active: #e52929;
$neutral-bg-color: #e1e1e1;
$neutral-text-color: #878787;
$neutral-bg-color-active: #b5b5b5;
$neutral-text-color-active: #2e2e2e;

// font family
$main-font-family: "Lexend", sans-serif;

// font sizes
$header-font-size: 25px;
$bubble-font-size: 16px;
$inputs-font-size: 13px;
$prompt-font-size: 14px;
$font-bold: 600;

.hidden {
  display: none !important;
}
